<div class="container">
  <div class="row">
    <h1>
      {{title}}
    </h1>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Symbol</th>
          <th>Price</th>
          <th>Bid</th>
          <th>Ask</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let quote of quotes">
          <td class="symbol">{{quote.Symbol}}</td>
          <td class="price">{{quote.Price | currency:'USD':true }}</td>
          <td class="bid">{{quote.Bid | currency:'USD':true }}</td>
          <td class="ask">{{quote.Ask | currency:'USD':true }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto text-center">
        <a [href]="stockQuoteApiUrl" target="sim-stock-api">REST API</a>
      </div>
    </div>
  </div>
</footer>
